<div class="container-fluid">
  <div class="row gx-3">
    <div class="col-md-2">
      <!--Sidebar content-->  
      <p>
        <input ng-model="$ctrl.query" class="form-control form-control-lg" type="text" placeholder="Search" aria-label=".form-control-lg example">
      </p>

      <p>
         Sort by:
    
        <select ng-model="$ctrl.orderProp" class="form-select">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="row">
        <div class="col-md-3" ng-repeat=" phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <div class="card" >
            <img class=" phone_image card-img-top" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
            <div class="card-body">
              <h5 class="card-title"><a href="#!/phones/{{phone.id}}">{{phone.name}}</a></h5>
              <p class="card-text">{{phone.snippet}}</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>